 
 
a{
text-decoration: none;
    color: white;
}

.table-container {
background-color: yellow;width: 20%;
}

  
.menu-container {
     
    width: 100%;
    margin: 0 auto;
    background-color: rgb(123, 230, 109);
    padding: 20px 10px;
    margin-top: 1px;
}

#menu-container-id {  
    height: 50px;
}
 